<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
<div class="container">
    <div class="box">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, necessitatibus soluta quaerat hic saepe assumenda omnis? Sed perferendis doloribus quisquam tempora distinctio dolor. Natus perspiciatis magni amet! Nesciunt dolores alias vel voluptas, ratione accusantium quasi, iste reprehenderit architecto consequuntur ab minima nisi rerum. Sint voluptas iure deserunt temporibus error officiis!</p>
    </div>
    <div class="box ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem libero pariatur, voluptas tenetur voluptates nihil, quisquam esse omnis veniam cum modi repellat nesciunt ex atque mollitia fugiat. Sapiente assumenda harum eligendi sequi eos dolores quasi animi exercitationem! Eius rerum laborum voluptates animi, obcaecati nam illum quisquam dolor qui quas perferendis.</p>
    </div>
</div>
</div>
  </div>
</body>
</html>
