<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css"
  </head>
  <body>
 <div class="container">
   <div class="grid-layout">
    <img  src="images/brady-rogers-LzpSZONdGOY-unsplash.jpg"  alt="">
    <img class="bigger" src="images/marvin-bellendorf-U4iOuzKIqDs-unsplash.jpg" class="image-2" alt="">
    <img src="images/good-faces-agency-tofAIcnYl0A-unsplash.jpg" class="image-3" alt="">
    <img src="images/klim-musalimov-_EiuWDwT3Qc-unsplash.jpg" alt="">
    <img src="images/nubelson-fernandes-7hKm4XMUIUM-unsplash.jpg" alt="">
    <img src="images/mathilde-langevin-tbzSgZbEuz4-unsplash.jpg" alt="">
    <img src="images/david-dvoracek-LPr1QM3JIgE-unsplash (1).jpg" alt="">
    <img src="images/caju-gomes-ei1b2XYs9IQ-unsplash.jpg" alt="">
    <img src="images/mathilde-langevin-oiyfHCXRyIw-unsplash.jpg" alt="">

   </div>
  </body>
</html>

